.servicesContainer{
    padding: 5rem 20px;
    text-align: center;
    margin-bottom: 30px;
}

.servicesContainer .cards{
    display: flex;
    align-items: center;
}

.servicesContainer ul{
    display: flex;
    gap: 15px;
}

.servicesContainer li{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(8, 8, 8, .2);
    flex: 1 1 200px;
    text-align: center;
    transition: .5s;
}

.servicesContainer li i{
    transform: scale(1.8);
    margin: 5px;
}

.servicesContainer li:nth-child(1){
    color: green;
}

.servicesContainer li:nth-child(2){
    color: red;
}

.servicesContainer li:nth-child(3){
    color: tomato
}

.servicesContainer li:hover{
    transform: scale(1.1);
}